@import (reference) "Mixins";

.cv-aside {
  flex-shrink: 0;
  width: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #efdea2;

  .a-menu {
    flex: 1;
    padding: var(--unit);
    //color: var(--white);
    display: flex;
    flex-direction: column;

    .m-item {
      .flex-start;
      padding: var(--unit) var(--2unit);
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.25s;
      font-size: var(--small-font);

      .icon {
        margin-right: var(--2unit);
      }

      .icon-play {
        color: var(--blue-color);
      }

      .icon-delete {
        color: var(--error-color);
      }

      .icon-setting {
        color: var(--main-color);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }

      &.router-link-active {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }

    .m-top {
      .m-item {
        margin-top: var(--3unit);
      }
    }

    .m-bottom {
      margin-top: auto;

      .m-item {
        margin-bottom: var(--3unit);
      }
    }
  }
}

.cv-upload {
  position: relative;
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--3unit) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: border-color .2s;

  .u-tip {
    font-size: var(--small-font);
    margin-top: var(--unit);
  }

  .u-name {
    margin-top: var(--unit);
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
  }

  &:hover {
    border-color: var(--hover-blue);
  }
}

.cv-select-dir {
  display: flex;

  .v-input {
    flex: 1;

    .input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .v-btn {
    background-color: var(--bg-color);
    color: var(--main-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      background-color: var(--bg-color);
    }
  }
}

.cv-progress {
  position: relative;
  height: 4px;
  border-radius: var(--border-radius);
  overflow: hidden;

  .layer-1 {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
  }

  .layer-2 {
    .mixin-transition(@property: width);
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #efdea2;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
}

.app-copyright {
  font-size: var(--small-font);
  margin-top: var(--3unit);
  text-align: center;
}

.app-info {
  .i-engine {
    margin-top: 50px;

    .e-version {
      font-size: var(--small-font);
    }

    .e-features {
      color: var(--second-color);
    }
  }
}

.panel-add-task {
  .v-tab {
    .tabs {
      .tab {
        height: 40px;
        line-height: 40px;
      }
    }
  }

  .p-content {
    padding: var(--2unit) 0;
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr);
    grid-template-rows: auto;
    grid-row-gap: var(--3unit);

    .span-1-6 {
      grid-column: 1 / 6;
    }

    .span-2-6 {
      grid-column: 2 / 6;
    }

    .textarea {
      height: 80px;
      padding: 4px;
      resize: vertical;
      word-break: break-all;
    }

    .label {
      font-size: var(--small-font);
      display: flex;
      align-items: center;

      &.l-start {
        align-items: flex-start;
        padding-top: 8px;

        &+.textarea {
          min-height: 50px;
          resize: vertical;
        }
      }
    }

    .out-input {
      grid-column: 2 / 4;
      margin-right: var(--3unit);
    }

    .c-parsing {
      font-size: var(--tiny-font);
      text-align: center;
      color: var(--error-color);
    }

    .c-parsed {
      display: grid;
      grid-template-columns: 1fr 100px;
      font-size: var(--small-font);
      .mixin-border;

      .c-head {
        background-color: var(--bg-color);
      }

      .p-cell {
        padding: var(--unit);
      }
    }
  }

  .p-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--3unit) var(--2unit);
    background-color: var(--bg-color);
    margin: 0 -16px -8px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    .b-submits {
      .v-btn {
        margin-left: var(--2unit);
      }
    }
  }
}
