@import (reference) "../Mixins";

.page-task {
  padding: var(--3unit);

  .task-header {
    .flex-between;
    .mixin-border-bottom;
    padding: var(--unit) 0;

    .task-title {
      height: 20px;
    }

    .task-actions {
      height: 20px;

      .icon {
        padding: 2px;
        margin: 0 4px;
        cursor: pointer;
      }
    }
  }

  .task-content {
    padding: var(--2unit) 0;

    .no-task {
      text-align: center;
      font-size: var(--small-font);
      padding-top: 360px;
    }
  }
}

.task-item {
  padding: 16px 12px;
  .mixin-border;
  border-radius: var(--border-radius);
  margin-bottom: var(--2unit);
  transition: border-color .2s;

  &:hover {
    border-color: var(--hover-blue);
  }

  .i-above {
    .flex-between;
    margin-bottom: var(--unit);

    .i-name {
      .truncate;
      font-size: var(--small-font);
    }

    .i-actions {
      flex-shrink: 0;

      .icon {
        cursor: pointer;
        margin: 0 4px;
        padding: 2px;
      }
    }
  }

  .i-bottom {
    .flex-between;
    font-size: var(--tiny-font);
    margin-top: var(--unit);

    .i-size {
      color: var(--second-color);

      > span:not(:first-child) {
        margin-left: var(--unit);
      }
    }

    .i-upload {
      color: var(--second-color);

      > span:not(:first-child) {
        margin-left: var(--unit);
      }
    }
  }
}

.task-stopped {
  .task-item {
    .i-actions {
      .icon {

      }
    }
  }
}
